/*

*/
/* 
   
*/


.wpfblbox_clear{
    clear: both;
    display: block;
    content: "";}
.wpfblbox_plugin-notify{}
.wpfblbox_col {
    float: left;
    margin-right: 30px;
    width: 31%;}
.wpfblbox_colmain {
    float: left;
    margin-right: 30px;
    width: 61%;
    min-width:450px;}
.wpfblbox_control-label {
    color: #000;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px !important;}
.wpfblbox_clearfix{
    clear: both;
    display: block;
    content: '';}
.wpfblbox_form-group {
    margin-bottom: 10px;}
.wpfblbox_beforeafter label{
    margin-top: -5px;
    width: 65px;}
.wpfblbox_eachpage label{
    margin-top: -8px;}
.wpfblbox_exclude{
    display: none;}
.wpfblbox_switch label{
    float: left;
    margin-top: 5px;
    width: 54px;
    margin-left: 10px;}
.wpfblbox_switch img{
    float:left;
    cursor: pointer;}
.wpfblbox_preview{
    padding: 32px;
    background: #fff;
    border: 1px solid;
    border-color: #e9eaed #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    min-height: 40px;}
.wpfblbox_onoffdiv{
    float: left;
    width:120px;}
.wpfblbox_swith{
    margin-top: 30px !important;}
.wpfblbox_swith label{
    padding:5px;
    padding-top: 0;
    line-height: 10px;}
.wpfblbox_swith .radios-wrap{
    width:58px !important;}
.wpfblbox_col label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;}
.wpfblbox_panel.panel-default {
    background: none repeat scroll 0 0 #fafafa;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 15px 15px;}
.wpfblbox_panel-heading {
    background: none repeat scroll 0 0 #333;
    color: #fff;
    border-radius: 3px;}
.wpfblbox_panel-heading .panel-title{
    color: #fff;}
.wpfblbox_panel-heading .panel-title {
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;}
.wpfblbox_forms-wrap .radios-wrap {
    float: left;
    max-width: 100px;
    width: 100px;}
.wpfblbox_form-group textarea {
    border-radius: 5px;
    width: 100%;}
.wpfblbox_form-group {
    margin-bottom: 10px;
    margin-top: 10px;}
.wpfblbox_btn-file {
  position: relative;
  overflow: hidden;}
.wpfblbox_where .field-wrap{
    position: relative;}
.wpfblbox_where .field-wrap select{
    width: 100%;}
.wpfblbox_where .field-wrap input[type="text"]{
    width: 100%;}
.wpfblbox #collapseExample {
    display: none;}
.wpfblbox_collapse.in {
    background: none repeat scroll 0 0 #f1f1f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block !important;
    padding: 15px;}
.wpfblbox_appearance:after {
    top: 2px;
    color: #bbb;
    content: "ï…€";
    display: inline-block;
    font: 400 20px/1 dashicons;
    padding: 0 5px 0 0;
    position: absolute;
    right: 0;
    text-decoration: none !important;
    vertical-align: bottom;}
.wpfblbox_btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;}

.wpfblbox input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.wpfblbox_forms-wrap {
    padding: 15px 0;}
.wpfblbox_control-label {
    display: block;
    margin-bottom: 10px !important;}
.wpfblbox_what .form-inline{
    margin-bottom: 20px;}
.wpfblbox_where .field-wrap label{
   width: 250px;
    font-weight: normal;}
.wpfblbox_where .field-wrap{
    margin-bottom: 20px;}
.wpfblbox_where {
    background: none repeat scroll 0 0 #fafafa;
    border-radius: 10px;
    padding: 15px;}
.wpfblbox_switch-wrapper {
  display: inline-block;
  position: relative;
  top: 3px;}
.wpfblbox_appearance{
    width: 100%;
    text-align: left;}
.wpfblbox_appearance .caret{
    margin-top: -11px;}
.wpfblbox_well .inner-field{
    margin-bottom: 20px;}
.wpfblbox_pull-left{
    float:left;}
.wpfblbox_pull-right{
    float:right;}
.wpfblbox_switch-button-label{
    font-size: 22px !important;
    margin-top: 6px;}
.wpfblbox_btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;}
.wpfblbox_btn:focus, .wpfblbox_btn:active:focus, .wpfblbox_btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;}
.wpfblbox_btn:hover, .wpfblbox_btn:focus {
  color: #333;
  text-decoration: none;}
.wpfblbox_btn:active, .wpfblbox_btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,  0,  0, .wpfblbox_125);
          box-shadow: inset 0 3px 5px rgba(0,  0,  0, .wpfblbox_125);}
.wpfblbox_btn.disabled, .wpfblbox_btn[disabled], 
.wpfblbox fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.wpfblbox_btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;}
.wpfblbox_btn-default:hover, .wpfblbox_btn-default:focus, .wpfblbox_btn-default:active, .wpfblbox_btn-default.active, .wpfblbox_open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;}
.wpfblbox_btn-default:active, .wpfblbox_btn-default.active, .wpfblbox_open > .dropdown-toggle.btn-default {
  background-image: none;}
.wpfblbox_btn-default.disabled, .wpfblbox_btn-default[disabled], 
.wpfblbox fieldset[disabled] .btn-default, .wpfblbox_btn-default.disabled:hover, .wpfblbox_btn-default[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-default:hover, .wpfblbox_btn-default.disabled:focus, .wpfblbox_btn-default[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-default:focus, .wpfblbox_btn-default.disabled:active, .wpfblbox_btn-default[disabled]:active, 
.wpfblbox fieldset[disabled] .btn-default:active, .wpfblbox_btn-default.disabled.active, .wpfblbox_btn-default[disabled].active, 
.wpfblbox fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.wpfblbox_check{
    margin-top: 1px !important;
}
.wpfblbox_btn-default .badge {
  color: #fff;
  background-color: #333;}
.wpfblbox_btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;}
.wpfblbox_btn-primary:hover, .wpfblbox_btn-primary:focus, .wpfblbox_btn-primary:active, .wpfblbox_btn-primary.active, .wpfblbox_open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;}
.wpfblbox_btn-primary:active, .wpfblbox_btn-primary.active, .wpfblbox_open > .dropdown-toggle.btn-primary {
  background-image: none;}
.wpfblbox_btn-primary.disabled, .wpfblbox_btn-primary[disabled], 
.wpfblbox fieldset[disabled] .btn-primary, .wpfblbox_btn-primary.disabled:hover, .wpfblbox_btn-primary[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-primary:hover, .wpfblbox_btn-primary.disabled:focus, .wpfblbox_btn-primary[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-primary:focus, .wpfblbox_btn-primary.disabled:active, .wpfblbox_btn-primary[disabled]:active, 
.wpfblbox fieldset[disabled] .btn-primary:active, .wpfblbox_btn-primary.disabled.active, .wpfblbox_btn-primary[disabled].active, 
.wpfblbox fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.wpfblbox_btn-primary .badge {
  color: #428bca;
  background-color: #fff;}
.wpfblbox_btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;}
.wpfblbox_btn-success:hover, .wpfblbox_btn-success:focus, .wpfblbox_btn-success:active, .wpfblbox_btn-success.active, .wpfblbox_open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;}
.wpfblbox_btn-success:active, .wpfblbox_btn-success.active, .wpfblbox_open > .dropdown-toggle.btn-success {
  background-image: none;}
.wpfblbox_btn-success.disabled, .wpfblbox_btn-success[disabled], 
.wpfblbox fieldset[disabled] .btn-success, .wpfblbox_btn-success.disabled:hover, .wpfblbox_btn-success[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-success:hover, .wpfblbox_btn-success.disabled:focus, .wpfblbox_btn-success[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-success:focus, .wpfblbox_btn-success.disabled:active, .wpfblbox_btn-success[disabled]:active, 
.wpfblbox fieldset[disabled] .btn-success:active, .wpfblbox_btn-success.disabled.active, .wpfblbox_btn-success[disabled].active, 
.wpfblbox fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.wpfblbox_btn-success .badge {
  color: #5cb85c;
  background-color: #fff;}
.wpfblbox_btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;}
.wpfblbox_btn-info:hover, .wpfblbox_btn-info:focus, .wpfblbox_btn-info:active, .wpfblbox_btn-info.active, .wpfblbox_open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;}
.wpfblbox_btn-info:active, .wpfblbox_btn-info.active, .wpfblbox_open > .dropdown-toggle.btn-info {
  background-image: none;}
.wpfblbox_btn-info.disabled, .wpfblbox_btn-info[disabled], 
.wpfblbox fieldset[disabled] .btn-info, .wpfblbox_btn-info.disabled:hover, .wpfblbox_btn-info[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-info:hover, .wpfblbox_btn-info.disabled:focus, .wpfblbox_btn-info[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-info:focus, .wpfblbox_btn-info.disabled:active, .wpfblbox_btn-info[disabled]:active, 
.wpfblbox fieldset[disabled] .btn-info:active, .wpfblbox_btn-info.disabled.active, .wpfblbox_btn-info[disabled].active, 
.wpfblbox fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.wpfblbox_btn-info .badge {
  color: #5bc0de;
  background-color: #fff;}
.wpfblbox_btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;}
.wpfblbox_btn-warning:hover, .wpfblbox_btn-warning:focus, .wpfblbox_btn-warning:active, .wpfblbox_btn-warning.active, .wpfblbox_open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;}
.wpfblbox_btn-warning:active, .wpfblbox_btn-warning.active, .wpfblbox_open > .dropdown-toggle.btn-warning {
  background-image: none;}
.wpfblbox_btn-warning.disabled, .wpfblbox_btn-warning[disabled], 
.wpfblbox fieldset[disabled] .btn-warning, .wpfblbox_btn-warning.disabled:hover, .wpfblbox_btn-warning[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-warning:hover, .wpfblbox_btn-warning.disabled:focus, .wpfblbox_btn-warning[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-warning:focus, .wpfblbox_btn-warning.disabled:active, .wpfblbox_btn-warning[disabled]:active, 
.wpfblbox fieldset[disabled] .btn-warning:active, .wpfblbox_btn-warning.disabled.active, .wpfblbox_btn-warning[disabled].active, 
.wpfblbox fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.wpfblbox_btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;}
.wpfblbox_btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;}
.wpfblbox_btn-danger:hover, .wpfblbox_btn-danger:focus, .wpfblbox_btn-danger:active, .wpfblbox_btn-danger.active, .wpfblbox_open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;}
.wpfblbox_btn-danger:active, .wpfblbox_btn-danger.active, .wpfblbox_open > .dropdown-toggle.btn-danger {
  background-image: none;}
.wpfblbox_btn-danger.disabled, .wpfblbox_btn-danger[disabled], 
.wpfblbox fieldset[disabled] .btn-danger, .wpfblbox_btn-danger.disabled:hover, .wpfblbox_btn-danger[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-danger:hover, .wpfblbox_btn-danger.disabled:focus, .wpfblbox_btn-danger[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-danger:focus, .wpfblbox_btn-danger.disabled:active, .wpfblbox_btn-danger[disabled]:active, 
.wpfblbox fieldset[disabled] .btn-danger:active, .wpfblbox_btn-danger.disabled.active, .wpfblbox_btn-danger[disabled].active, 
.wpfblbox fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.wpfblbox_btn-danger .badge {
  color: #d9534f;
  background-color: #fff;}
.wpfblbox_btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;}
.wpfblbox_btn-link, .wpfblbox_btn-link:active, .wpfblbox_btn-link[disabled], 
.wpfblbox fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.wpfblbox_btn-link, .wpfblbox_btn-link:hover, .wpfblbox_btn-link:focus, .wpfblbox_btn-link:active {
  border-color: transparent;}
.wpfblbox_btn-link:hover, .wpfblbox_btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;}
.wpfblbox_btn-link[disabled]:hover, 
.wpfblbox fieldset[disabled] .btn-link:hover, .wpfblbox_btn-link[disabled]:focus, 
.wpfblbox fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.wpfblbox_btn-lg, .wpfblbox_btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;}
.wpfblbox_btn-sm, .wpfblbox_btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;}
.wpfblbox_btn-xs, .wpfblbox_btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;}
.wpfblbox_btn-block {
  display: block;
  width: 100%;}
.wpfblbox_btn-block + .btn-block {
  margin-top: 5px;}

.wpfblbox input[type="submit"].btn-block, 
.wpfblbox input[type="reset"].btn-block, 
.wpfblbox input[type="button"].btn-block {
  width: 100%;
}
.wpfblbox_fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;}
.wpfblbox_fade.in {
  opacity: 1;}
.wpfblbox #content_ifr{
    height: 300px !important;}
.wpfblbox_form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .wpfblbox_075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .wpfblbox_075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.wpfblbox_appearance .caret{
margin-top: 7px;
}


}


@media screen and (max-width: 800px){
   .wpfblbox  .colmain{
        width: 100%;
    }

}

@media screen and (max-width: 600px){
   .wpfblbox  .wpfblbox_col{
        width: 100% !important;
    }

}

.wpfblbox_tooltip{
   			display: inline;
    		position: relative;
		}
		
		.wpfblbox_tooltip:hover:after{
    		background: #333;
    		background: rgba(0,0,0,.8);
    		border-radius: 5px;
    		bottom: 26px;
    		color: #fff;
    		content: attr(wpfblbox_title);
    		left: 20%;
    		padding: 5px 15px;
    		position: absolute;
    		z-index: 98;
    		width: 220px;
		}
		
		.wpfblbox_tooltip:hover:before{
    		border: solid;
    		border-color: #333 transparent;
    		border-width: 6px 6px 0 6px;
    		bottom: 20px;
    		content: "";
    		left: 50%;
    		position: absolute;
    		z-index: 99;
		}